.carrossel {
   background-color: aliceblue;
}
.carrolssel__titulo{
    color: black;
    background-color: bisque;
    text-align: center;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 700;
    padding: 1em 0 0.5em 0;


}
.swiper-slid img{
    width: 100%;
}
swiper-buton-prev,
swiper-button-next{
    display: none;

}

.swiper-pgination {
    position: initial;
    margin: .5em 0
}

.card__descricao{
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5em;
}

.card__botoes{
    display: flex;
    justify-content: space-between;
}
.botoes {
   display: flex;

}

























 



































.carrossel__container{


}
